<!-- get the layout/block as a base  -->
{% extends "layout.html" %}
    {% block content %}
        <div class="columns">
        {% for post in posts %}
            <div class="column">
                <h1>{{ post.Title }}</h1>
                <img src="{{ post.Image }}" style="width: 400px;"/>
                <p>By {{ post.Author }} - Published: {{ post.Date }}</p>
                <p>{{ post.Content }}</p>
            </div>
        {% endfor %}
        </div>
        <span style="z-index:50;font-size:0.9em;"><img src="https://theysaidso.com/branding/theysaidso.png" height="20" width="20" alt="theysaidso.com"/><a href="https://theysaidso.com" title="Powered by quotes from theysaidso.com" style="color: #9fcc25; margin-left: 4px; vertical-align: middle;">theysaidso.com</a></span>
    {% endblock content %}
