<!DOCTYPE html>
<html>
<head>
    <!-- A block which other template can inherit as a base layout -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- check if title is given to the template -->
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>DevThep</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About Me</a>
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('loginFunc') }}">Login</a>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>